.dots.svelte-1befunw {
    background: radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 8%);
    background-position: 0% 0%;
    background-size: 2.2vmin 2.2vmin;
    -webkit-mask-image: radial-gradient(ellipse 60% 43% at center, black 0%, black 10%, transparent 80%);
    mask-image: radial-gradient(ellipse 60% 43% at center, black 0%, black 10%, transparent 80%);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-position: center;
    mask-position: center
}